[Unit]
Description=Qubes updates cache (Squid)
ConditionPathExists= /var/run/qubes-service/qubes-updates-cache
ConditionPathExists=!/var/run/qubes-service/qubes-updates-proxy
ConditionPathExists=!/var/run/qubes-service/qubes-yum-proxy
After=qubes-iptables.service qubes-mount-dirs.service qubes-misc-post.service
After=network.target nss-lookup.target

[Service]
LimitNOFILE=16384
Environment=SQUID_CONF=/etc/qubes-updates-cache/squid.conf
ExecStartPre=/usr/lib/qubes/updates-cache-iptables start
ExecStartPre=/usr/sbin/squid -f $SQUID_CONF -NzF
ExecStart   =/usr/sbin/squid -f $SQUID_CONF -N
ExecReload  =/bin/kill -HUP $MAINPID
ExecStopPost=/usr/lib/qubes/updates-cache-iptables stop
KillMode=process
TimeoutSec=0
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
