[Unit]
Description=Qubes updates cache (Squid)
ConditionPathExists= /var/run/qubes-service/qubes-updates-cache
ConditionPathExists=!/var/run/qubes-service/qubes-updates-proxy

[Service]
LimitNOFILE=16384
Environment=SQUID_CONF=/etc/qubes-updates-cache/squid.conf
ExecStartPre=/usr/sbin/squid -f $SQUID_CONF -NzF
ExecStart   =/usr/sbin/squid -f $SQUID_CONF -N
ExecReload  =/bin/kill -HUP $MAINPID
KillMode=process
TimeoutSec=0
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
